// Add your own custom styles here
.btn {
  border-radius: 1.6rem 0px;
  padding: 1.2rem 2.4rem;
  background-size: 202% 100%;
  background-image: linear-gradient(to right ,rgb(255, 151, 110) 50%,rgb(0, 95, 156) 50%, rgb(169, 183, 215) 100%);
  transition: background-position 200ms;
  border-color: rgb(255, 151, 110)
}

.btn-banner {
  border-radius: 1.6rem 0px;
  padding: 1.2rem 2.4rem;
  background-size: 202% 100%;
  background-image: linear-gradient(to right ,rgb(255, 151, 110) 50%,rgb(0, 95, 156) 50%, rgb(169, 183, 215) 100%);
  transition: background-position 200ms;
  border-color: rgb(255, 151, 110)
}

.btn:hover {
  background-position: -99% 0;
  border-image: linear-gradient(to right, rgb(0, 95, 156) 0%, rgb(169, 183, 215) 100%);
}

.header {
  border: 8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgb(235, 50, 50) 0%, rgb(255, 151, 110) 25.52%, rgb(231, 176, 0) 51.04%, rgb(111, 172, 157) 76.56%, rgb(0, 95, 156) 100%);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.logo-light {
  height: 32px;
}

[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  background-color: rgb(229, 233, 243);
  border-width: 0px;
}

.lg\:col-7 {
  width: 100% !important;
}

.link,
.accordion-content p>a {
  color: rgb(0, 95, 156);
  text-decoration: underline;
}

.bg-non-gradient {
  background-color: #fff;
  box-shadow: 0px 0px 14px -3px #f3f3f3;
}

.mb-8 {
  margin-bottom: 1rem;
}

.stores-banner {
  display: flex;
  justify-content: center;
}

.btn-store {
  margin-top: 20px;
  margin-right: 20px;
}